
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/myLayout.cshtml";
}

<script>
    $(document).ready(function () {
        GetAllItems();
        $("#btnadd").click(function () {
            $("#itemmodal").modal("show");
        })
        $("#btnsubmit").click(function () {
            AddNewItem();
        })
    })

    function AddNewItem() {
        var n = $("#txtitemname").val();
        var r = $("#txtitemrate").val();
        var t = $("#txtitemtax").val();
        var st = { "itemName": n, "itemRate": r, "itemTax": t };
        $.ajax({
            url: '/Item/AddItem',
            method: 'post',
            data: (st),
            success: function (resp) {
                alert(resp);
                ClearData();
                GetAllItems();
            }
        })
    }
    function ClearData() {
        $("#txtitemid").val("");
        $("#txtitemname").val("");
        $("#txtitemrate").val("");
        $("#txtitemtax").val("");
        $("#itemmodal").modal("hide");

    }
    function GetAllItems() {
        $.ajax({
            url: '/Item/GetItems',
            method: 'get',
            contentType: 'application/json',
            success: function (resp) {
                console.log(resp);
                $("#tbldata").empty();
                $.each(resp, function (i, d) {
                    $("#tbldata").append("<tr><td>" + (i + 1) + "</td><td>" + d.itemName + "</td><td>" +d.itemRate + "</td><td>" + d.itemTax + "</td></tr>")
                })
            }
        })
    }
</script>

<button type="button" class="btn btn-primary" id="btnadd"><span class="glyphicon glyphicon-plus"></span> </button>

<div class="modal fade" id="itemmodal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal"><span>&times;</span></button>
                
                <h4>Item Form</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Item Id</label>
                    <input type="text" id="txtitemid" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Item Name</label>
                    <input type="text" id="txtitemname" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Rate</label>
                    <input type="text" id="txtitemrate" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Tax</label>
                    <input type="text" id="txtitemtax" class="form-control" />
                </div>

            </div>
            <div class="modal-footer">
                <input type="button" value="Submit" id="btnsubmit" class="btn btn-primary" />
                <input type="button" value="Cancel" data-dismiss="modal" class="btn btn-danger" />
            </div>
        </div>
    </div>
</div>
<hr/>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Sr No</th>
            <th>Item Name</th>
            <th>Item Rate</th>
            <th>Tax</th>
        </tr>
    </thead>
    <tbody id="tbldata"></tbody>
</table>



